{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title_block %}
        Ecommerce - HomePage
    {% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,400&display=swap"
          rel="stylesheet">

    {% block style_block %}

    {% endblock %}
</head>
<body class="text-gray-800 text-sm transition tracking-wide bg-white text-white dark:bg-slate-900 dark:text-white"
      style="font-family: 'Poppins', sans-serif;">
<!-- Header Section Starts -->
{% include 'header.html' %}
<!-- Header Section Ends -->
<div class="container mx-auto px-4 my-8">
    {% block body_block %}

    {% endblock %}
</div>
{% block script_block %}

{% endblock %}
</body>
</html>